.left-container {
  background-color: #454887;
  background-image: url('https://www.bevioficial.com.br/_next/static/media/image-01.591cd3fc.png');
  position: relative;


  img {
    position: absolute;
    bottom: -25px;
  
  }
}